BasedOnStyle: LLVM 
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 100

# Only for me! --disable-git-clang-format
IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
ColumnLimit: 100

