BasedOnStyle: LLVM 
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 100

#Only for me! --disable-git-clang-format
#IndentWidth: 8
#AccessModifierOffset: -8
#ContinuationIndentWidth: 8
#ConstructorInitializerIndentWidth: 8
#ColumnLimit: 100

