BasedOnStyle: LLVM 
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
SpaceBeforeParens: Never
SpaceAfterTemplateKeyword: false
ColumnLimit: 100

#BEGIN_git_clang_format
#BasedOnStyle: LLVM 
#DerivePointerAlignment: false
#PointerAlignment: Left
#AlwaysBreakTemplateDeclarations: true
#IndentWidth: 4
#AccessModifierOffset: -4
#ContinuationIndentWidth: 4
#ConstructorInitializerIndentWidth: 4
#ColumnLimit: 100
#END_git_clang_format
